<div class="row">
  <% if @appraisals.present? %>
    <% @appraisals.each do |a| %>
      <!-- link_to appraisal_path(a) -->
      <!-- link_to edit_appraisal_path(a) -->
      <div class="col-sm-4">
        <div onclick="location.href='<%= appraisal_path(a) %>'" class="appraisal-item">
          <%= link_to '取消關注', update_care_account_appraisal_path(a), method: :post,class: 'btn btn-danger pull-right' %>
          <h4> <%= a.title %> </h4>
          <p class="description"><%= a.description %></p>
          <p class="category">
            <% if a.category.parent_category.present? %>
              <%= a.category.parent_category.try(:title) %> -
            <% end %>
            <%= a.category.title %>
          </p>
          <p class="info">
            <span class="info-number"><%= a.appraisal_messages.size %></span>
            <span> 留言</span>
            <span class="info-number"><%= a.appraisal_prices.size %></span>
            <span> 估價</span>
          </p>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="jumbotron">
      <p>目前沒東西哦</p>
    </div>
  <% end %>
</div>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "appraisals" %>
<% end -%>