    <%= simple_form_for @appraisal do |f| -%>

  <%= render '/common/error_messages', object: f.object %>
    <div class="form-inputs">
      <div class="form-group">
        <h4><span>分類</span><span class="help-block">左半部主分類、右半部子分類。單選。</span></h4>
        <%= f.hidden_field :category_id %>
        <%= render 'category', appraisal: @appraisal  %>
      </div>
      <div class="form-group">
        <h4><span>標題</span><span class="help-block">例如：PHP後台系統設計、商品攝影+修圖、女性服飾網拍修圖</span></h4>
        <%= f.input_field :title, class: 'form-control string optional', placeholder: '標題' %>
      </div>
      <div class="form-group">
        <h4><span>內容</span><span class="help-block">描述案子的作業時程，限制條件等</span></h4>
        <%= f.input_field :description, as: :text, class: 'form-control', rows: '20', placeholder: '請輸入內容' %>
      </div>
    </div>
    <div class="form-actions">
      <p><%= f.button :submit, '送出' %> <%= link_to "回列表頁", appraisals_path, class: 'btn btn-link' %></p>
    </div>
    <% end %>