<div class="row">
  <div class="col-sm-offset-2 col-ms-8">
    <div class="container">
      <!-- <h1>估價功能</h1> -->
      <h4>幫助剛入行工作者或外行的業主們  獲得可參考的價格</h4>
      <br/>
      <p>
        無論你是工作者或是業主，都可以在這裡問問看你曾經接觸過的專案，大概值多少；讓大家幫你看看。
      </p>
      <p>
        放心！Conkwe保證，不會有人知道發問的人是誰、也不會有人知道估價的人是誰。
      </p>
      <br/>
      <!-- <h2>目前設定條件</h2>
      <ul>
        <li>1. 所有估價者提供email供認證</li>
        <li>2. 發文者隱藏帳號</li>
        <li>3. 可留言要求發文者提供更詳細的條件，留言者不隱藏帳號</li>
        <li>4. 所有估價者隱藏帳號</li>
        <li>5. 超過5個人估價，之後的人才可觀看結果</li>
      </ul> -->
      <% if current_user %>
        <p>
          <%= link_to '我想問問行情', new_appraisal_path, class: 'btn btn-default' %>
        </p>
      <% end %>
    </div>
  </div>
  <% if @appraisals.present? %>
    <% @appraisals.each do |a| %>
      <!-- link_to appraisal_path(a) -->
      <!-- link_to edit_appraisal_path(a) -->
      <div class="col-sm-offset-2 col-sm-8">
        <div onclick="location.href='<%= appraisal_path(a) %>'" class="appraisal-item">
          <h4> <%= a.title %> </h4>
          <p class="description"><%= a.description %></p>
          <p class="category">
            <% if a.category.parent_category.present? %>
              <%= a.category.parent_category.try(:title) %> -
        <% end %>
            <%= a.category.title %>
          </p>
          <p class="info">
            <span class="info-number"><%= a.appraisal_messages.size %></span>
            <span> 留言</span>
            <span class="info-number"><%= a.appraisal_prices.size %></span>
            <span> 估價</span>
          </p>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="jumbotron">
      <p>目前沒東西哦</p>
    </div>
  <% end %>
</div>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "appraisals" %>
<% end -%>