<h1>估價功能</h1>
<p>
  Conkwe希望就各個行業的接案部分可以有某種機制可以出現一個數字給業主或是接案者做為參考，所以我們開發了這個小工具，希望大家可以試用看看。
</p>
<h2>目前設定條件</h2>
<ul>
  <li>1. 所有估價者提供email供認證</li>
  <li>2. 發文者隱藏帳號</li>
  <li>3. 可留言要求發文者提供更詳細的條件，留言者不隱藏帳號</li>
  <li>4. 所有估價者隱藏帳號</li>
  <li>5. 超過5個人估價，之後的人才可觀看結果</li>
</ul>

<% if current_user %>
  <%= link_to '新增估價', new_appraisal_path, class: 'btn btn-default' %>
<% end %>

<% if @appraisals.present? %>
<table class='table table-bordered'>
  <% @appraisals.each do |a| %>
  <tr>
    <td>
      <h4><%= a.category.title %>
      <% if a.category.parent_category.present? %>
      >
      <%= a.category.parent_category.try(:title) %>
      <% end %>
      <h4>
    </td>
    <td>
      標題：
      <%= a.title %>
    </td>
    <td>
      描述：
      <%= a.description %>
    </td>
    <td>
      留言數：
      <%= a.appraisal_messages.size %>
    </td>
    <td>
      估價數：
      <%= a.appraisal_prices.size  %>
    </td>
    <td>
      <%= link_to 'show', appraisal_path(a), class: 'btn btn-default'  %>
      <% if current_user == a.user %>
        <%= link_to 'edit', edit_appraisal_path(a), class: 'btn btn-default'  %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<% else %>
<div class="jumbotron">
  <p>目前沒東西哦</p>
</div>
<% end %>
