<table class='table table-bordered'>
  <tr>
    <td>
      <h4><%= @appraisal.category.title %>
        <% if @appraisal.category.parent_category.present? %>
        > <%= @appraisal.category.try(:parent_category).try(:title) %>
        <% end %>
      </h4>
    </td>
    <td>
      標題：
      <%= @appraisal.title %>
    </td>
    <td>
      描述：
      <%= @appraisal.description %>
    </td>
    <td>
      留言數：
      <%= @appraisal.appraisal_messages.size %>
    </td>
    <td>
      估價數：
      <%= @appraisal.appraisal_prices.size  %>
    </td>
  </tr>
</table>
<div class="tasks" id="incomplete_tasks">
  <%= render @appraisal_messages %>
</div>
<%= form_for @appraisal_message, remote: true do |f| %>
<%= f.hidden_field :appraisal_id, {value: @appraisal.id} %>
<%= f.text_area :content %>
<p class="help-block">按Enter鍵送出</p>

<% end %>
<p class="cancel"><%= link_to "回上頁", :back, class: 'btn btn-info' %></p>

<% content_for :javascripts do %>
<script>
$('#appraisal_message_content').keypress(function(e){
    if(event.shiftKey && e.keyCode == 13){
    } else if (e.keyCode == 13) {
     $(this).closest('form').submit();
   }
});
</script>
<% end %>