<% if current_user == @appraisal.user %>
  <%= link_to '修改內容', edit_appraisal_path(@appraisal), :class => 'btn btn-success' %>
  <br/>
<% end %>
<%
  content = @appraisal.description
  content.gsub!(/\r\n?/, "\n")
%>
<h3><%= @appraisal.title %></h3>
<div class="well">
  <% content.split("\n").each do |t| %>
    <p><%= t.presence || "&nbsp;".html_safe %></p>
  <% end %>
</div>
<p class="category">
  <% if @appraisal.category.parent_category.present? %>
    <%= @appraisal.category.try(:parent_category).try(:title) %> -
  <% end %>
  <%= @appraisal.category.title %>
</p>
<p class="info">
  <span class="info-number"><%= @appraisal.appraisal_messages.size %></span>
  <span> 留言</span>
  <span class="info-number"><%= (@appraisal_price.new_record?) ? @appraisal.appraisal_prices.size - 1 : @appraisal.appraisal_prices.size %></span>
  <span> 估價</span>
</p>
<h4>留言</h4>
<div class="tasks" id="incomplete_tasks">
  <%= render @appraisal_messages %>
</div>
<br/>
<%= form_for @appraisal_message, remote: true do |f| %>
  <div class="form-inputs">
    <div class="form-group">
      <h4><span>新增留言</span><span class="help-block">按Enter鍵送出</span></h4>
      <%= f.hidden_field :appraisal_id, {value: @appraisal.id} %>
      <%= f.text_area :content, class: 'form-control', rows: '2', placeholder: '請輸入內容' %>
    </div>
  </div>
<% end %>
<br/>
<h4>值多少？ 我的估價是</h4>
<%= form_for @appraisal_price do |f| %>
  <%= f.hidden_field :appraisal_id, {value: @appraisal.id} %>
  <div class="row">
    <% if @appraisal_price.new_record? %>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <%= f.number_field :price, class: 'form-control' %>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-4">
        <%= f.submit "送出", class: 'btn btn-primary' %>
      </div>
    <% else %>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <%= f.number_field :price, class: 'form-control',:readonly => true %>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-4">
        <%= link_to '刪除', appraisal_price_path(@appraisal_price), method: :delete, data: { confirm: '確定要刪除嗎？' }, :class => 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
<% end %>
<br/>
<% if @appraisal_prices.size > 1 %>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    看統計結果
  </button>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">估價統計</h4>
        </div>
        <div class="modal-body">
          <div id="barChart" style="height: 250px;"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<br/>
<br/>
<p class="cancel"><%= link_to "回列表頁", appraisals_path, class: 'btn btn-info' %></p>
<% content_for :stylesheets do %>
  <style type="text/css">
    .well p{
        margin-bottom: 0px;
      }
      p.category, p.info{
        text-align: right;
        margin-bottom: 0.4em;
      }
      p.category{
        color: #b8860b;
      }
      p.info span.info-number{
        font-size:  1.2em;
        color: #5f9ea0;
      }
      a.glyphicon{ text-decoration: none; }
      a.glyphicon-remove-circle{ color: #f44336; }
      .tasks p{
        margin-bottom: 0.2em;
      }
      span.help-block{
        display: inline;
        font-size: 0.8em;
        margin-left: 15px;
      }
  </style>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag "channels/appraisal_message" %>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    $('#appraisal_message_content').keypress(function(e){
        if(e.shiftKey && e.keyCode == 13){
        } else if (e.keyCode == 13) {
         $(this).closest('form').submit();
       }
    });

    var prices = [];
    <% if @appraisal_prices.size > 1 %>
    prices = <%= @appraisal_prices.order("price DESC").pluck(:price) %>;
    <% end %>
    function getTrimDigit(number){
      var digit = number.toString().length;
      return (digit > 4)? (digit - 2) : (digit - 1);
    }
    if(prices.length > 1){
      var max = prices[0],
          min = prices[prices.length-1],
          diff = Math.floor((max - min) / 5),
          diffTrimDigit = getTrimDigit(diff),
          minTrimDigit = getTrimDigit(min),
          step = Math.floor(diff / Math.pow(10, diffTrimDigit)) * Math.pow(10, diffTrimDigit),
          current = Math.floor(min / Math.pow(10, minTrimDigit)) * Math.pow(10, minTrimDigit),
          ranges = [],
          bounds = [],
          priceCache = prices.slice(0),
          priceLen = prices.length,
          maxCount = 0,
          collection = [];
      while(current + step < max) ranges.push(current += step);
      ranges.reverse();
      // from max range to min range
      ranges.forEach(function(item, idx){
        if(idx > 0) bounds.push( {upBound: ranges[idx - 1], downBound: item} );
        if(idx == 0) bounds.push( {upBound: max + 1, downBound: item} );
        if(idx == ranges.length - 1) bounds.push( {upBound: item, downBound: min - 1} );
      });

      bounds.forEach(function(item, idx){
        var collect = [];
        if(idx == 0) collect.push(item.downBound + " 以上");
        else if(idx == bounds.length - 1) collect.push(item.upBound + " 以下");
        else collect.push(item.downBound + " ~ " + item.upBound);
        var count = 0;
        for(var pidx = 0; pidx < priceCache.length; pidx++){
          var p = priceCache[pidx];
          if(p >= item.downBound && p < item.upBound){
            priceCache.splice(pidx, 1);
            pidx--;
            count++;
          }
        }
        collect.push(count);
        collect.push( parseFloat( (count / priceLen * 100).toFixed(1) ) + "%" );
        collection.push(collect);
        maxCount = Math.max(maxCount, count);
      });

      google.charts.load('current', {'packages':['corechart']});
      $('#myModal').on('shown.bs.modal', function () {
        google.charts.setOnLoadCallback(drawChart);
      })

      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          [['Price Ranges', '估價數', { role: 'annotation' }]].concat(collection)
        );
        var options = {
          backgroundColor: 'transparent', sliceVisibilityThreshold: 0, bar: {groupWidth: "95%"},
          legend: { position: "none" }, hAxis: { minValue: 0, maxValue: maxCount + 1, gridlines: { count: maxCount + 2 } }
        };
        var chart = new google.visualization.BarChart(document.getElementById('barChart'));

        chart.draw(data, options);
      }
    }
  </script>
<% end %>