<%= javascript_include_tag Ckeditor.cdn_url %>
<%= javascript_include_tag 'vue' %>
<div class="stepwizard">
  <div class="stepwizard-row">
    <div class="stepwizard-step">
      <button type="button" value="1" onclick="onStepClick(this)" class="btn btn-primary btn-circle">1</button>
      <p>輸入標題</p>
    </div>
    <div class="stepwizard-step">
      <button type="button" value="2" onclick="onStepClick(this)" class="btn btn-default btn-circle" disabled="disabled">2</button>
      <p>作品連結或內容</p>
    </div>
    <div class="stepwizard-step">
      <button type="button" value="3" onclick="onStepClick(this)" class="btn btn-default btn-circle" disabled="disabled">3</button>
      <p>簡單描述一下</p>
    </div>
  </div>
</div>
<%= simple_form_for [:account, @user_info, @work], :html => {:multipart => true} do |f| -%>
  <%= render '/common/error_messages', object: f.object %>
  <div class="form-inputs stepwizard-target-1">
    <div class="form-group">
      <%= f.input_field :subject, class: 'form-control string optional', placeholder: '例如：PHP後台系統設計、商品攝影+修圖、女性服飾網拍修圖' %>
    </div>
    <p>
      <%= link_to "下一步", '#2', id: "anchorToStep2", class: 'btn btn-success disabled' %>
      <%= link_to "回上頁", :back, class: 'btn btn-link' %>
    </p>
  </div>
  <div class="form-inputs stepwizard-target-2"  style="display:none">
    <div class="form-group">
      <!-- Nav tabs -->
      <ul id="typeSelection" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="<%= 'active' if @work.attach_avatar.present? || (@work.attach_url.blank? &&  @work.attach_content.blank?) %>">
          <a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">上傳圖片</a>
        </li>

        <li role="presentation" class="<%= 'active' if @work.attach_url.present? %>">
          <a href="#external" aria-controls="external" role="tab" data-toggle="tab">外部連結</a>
        </li>

        <li role="presentation" class="<%= 'active' if @work.attach_content.present? %>">
          <a href="#textcontent" aria-controls="textcontent" role="tab" data-toggle="tab">發表文章</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content" style="padding:0.4em;">
        <div role="tabpanel" class="tab-pane fade <%= 'in active' if @work.attach_avatar.present? || (@work.attach_url.blank? &&  @work.attach_content.blank?) %>" id="upload">
          <p>上傳代表圖片<span class="help-block">(解析度建議480x480px以上)</span></p>
          <%= f.file_field :attach_avatar %>
          <hr>
        </div>
        <div role="tabpanel" class="tab-pane fade <%= 'in active' if @work.attach_url.present? %>" id="external">
          <p>外部連結</p>
          <%= f.input_field :attach_url, class: 'form-control string optional', placeholder: "請貼上連結" %>
          <%= f.hidden_field :remote_image_url %>
          <%= f.hidden_field :remote_description %>

          <p class="loading-info" style="display: none;">正在讀取中...</p>
          <div class="row" id="previewVue">
            <h4>{{tellmessage}}</h4>
            <template v-if="type === 'image'">
              <div :class="['col-md-2', 'col-sm-4', 'work-responsive' ]" v-for="(image, index) in images" :key="image.src">
              <a href="#" @click="test(image.src, index)">
                <div :class="['text-center', 'block_image', {'panel panel-default': index == choose}]">
                  <img :src="image.src" style="margin:auto;" class="img-thumbnail" />
                </div>
              </a>
            </div>
            </template>
            <template v-else-if="type === 'audio'">
              <audio controls="controls" :src="media_url"></audio>
            </template>
            <template v-else-if="type === 'video'">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="height: 250px;">
                <video controls="controls" :src="media_url" width="100%" height="100%"></video>
              </div>
            </template>
            <template v-else-if="type === 'youtube'">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="height: 250px;">
                <iframe :src="media_url" width="100%" height="100%" frameborder="0"></iframe>
              </div>
            </template>
          </div>
          <hr>
        </div>
        <div role="tabpanel" class="tab-pane fade <%= 'in active' if @work.attach_content.present? %>" id="textcontent">
          <p>發表文章<%= link_to '預覽內容', '#', id: "previewCkeditor",class: 'btn btn-link' %></p>
          <%= f.cktext_area :attach_content, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }%>
          <%= render 'common/modal'  %>
          <hr>
        </div>
      </div>
    </div>
    <p>
      <%= link_to "下一步", '#3', class: 'btn btn-success' %>
      <%= link_to "回上一步", '#1', class: 'btn btn-link' %>
    </p>
  </div>
  <div class="form-actions stepwizard-target-3" style="display:none">
    <div class="form-group">
      <%= f.input_field :content,value: f.object.content || ckeditor_content(current_user) , as: :text, class: 'form-control', rows: '10', placeholder: '可以描述製作時間、使用的工具、所參考的文件或連結、製作方法等等，可供觀看的人更了解您的作品 ^_^' %>
    </div>
    <p><%= f.button :submit, '送出' %>
      <%= link_to "回上一步", '#2', class: 'btn btn-link' %>
    </p>
  </div>
<% end %>
<% content_for :stylesheets do %>
  <style type="text/css">
    .stepwizard-step p {
      margin-top: 10px;
      font-size: 1.2em;
    }

    .stepwizard-row {
      display: table-row;
    }

    .stepwizard {
      margin-top: 20px;
      display: table;
      width: 100%;
      position: relative;
    }

    .stepwizard-step button{
      outline: none !important;
    }

    .stepwizard-step button[disabled] {
      opacity: 1 !important;
      filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
      top: 14px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 100%;
      height: 1px;
      background-color: #ccc;
      z-order: 0;
    }

    .stepwizard-step {
      display: table-cell;
      text-align: center;
      position: relative;
    }

    .btn-circle {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
    }
    form{
      margin-top: 20px;
    }
  </style>
  <%= stylesheet_link_tag "works" %>
<% end -%>
<% content_for :javascripts do %>
  <script type="text/javascript">

  $('#previewCkeditor').click(function(){
    $("#myModal").modal()
    $("#myModalLabel").text($('#work_subject').val());
    $('.modal-body').html('<div class="ckeditor"><p class="text-right">建立於  ?/??</p>' + CKEDITOR.instances['work_attach_content'].getData() + '<p class="info"><span class="info-type"></span><i class="glyphicon glyphicon-eye-open"></i><span>??</span> <i class="glyphicon glyphicon-comment"></i><span>??</span> <a data-remote="true" rel="nofollow" data-method="post" href="#"><i class="glyphicon glyphicon-heart "></i></a> <a class="heart_count_link" href="#"><span class="heart_count">??</span></a></p><hr></div>')
  });

  function onStepClick(o){
    $(o).parents(".stepwizard").find("button.btn-primary").removeClass("btn-primary").addClass("btn-default");
    $(o).removeClass("btn-default").addClass("btn-primary");
    $("*[class*='stepwizard-target-']").hide();
    $(".stepwizard-target-" + o.value).show();
    location.hash = "";
  }

  $(window).on('hashchange',function(){
    var strHash = location.hash.slice(1);
    if(strHash) $(".stepwizard button[value=" + strHash + "]").trigger('click');
  });

  function displayToggle(){
    if(this.value){
      $("#anchorToStep2").removeClass("disabled");
      $(".stepwizard button[value=2], .stepwizard button[value=3]").prop("disabled", false);
    }else{
      $("#anchorToStep2").addClass("disabled");
      $(".stepwizard button[value=2], .stepwizard button[value=3]").prop("disabled", true);
    }
  }

  $(window).load(function(){
    $("#work_subject").on('input', displayToggle);
    displayToggle.call(document.getElementById('work_subject'));
  });

$("form").on("keypress", function (e) {
  if(e.target.tagName != 'TEXTAREA') {
    if(e.keyCode == 13) {
      e.preventDefault();
      return false;
    }
  }
});

  $('#work_attach_url').bind('paste', function(e){
    // can not use this.value to get the pasted text
    var clipboardData = e.clipboardData || e.originalEvent.clipboardData || window.clipboardData;
    var pastedData = clipboardData.getData('text');
    getInfoImages(pastedData);
  });

  function getInfoImages(url){
    self = window;
    $(".loading-info").toggle();
    $.ajax({
      url: "/works/getUrl",
      method: 'post',
      data: {attach_url: url},
      dataType: 'json'
    }).done(function(json) {
      var message = json.message
      if (message == 'ok') {
        self.previewVue.type = json.type;
        if (json.type == 'image'){
          var image_count = json.object.images.length;
          if (image_count){
            self.previewVue.images = json.object.images
            self.previewVue.favicon = json.object.favicon
            self.previewVue.tellmessage = image_count > 1 ? '選擇一個關於這個連結的代表圖片吧！(預設為第一張圖哦)' : '';
            self.previewVue.description = json.object.title

            $('#work_remote_description').val(json.object.title);
            $('#work_remote_image_url').val(json.object.images[0].src);
          }else{
            self.previewVue.tellmessage = '找不到代表圖片，將用預設圖片代替。';
          }
        }else if(json.object.media_url){
          self.previewVue.media_url = json.object.media_url;
        }else{
          self.previewVue.tellmessage = "不好意思！我們不知道這個連結是什麼"
        }
      }else {
        self.previewVue.tellmessage = message;
      }
      self.previewVue.$forceUpdate();
      $(".loading-info").toggle();
    });
  }

  var previewVue = new Vue({
    el: "#previewVue",
    data: {
      images: [],
      favicon: '',
      image_bolder: [],
      tellmessage: '',
      choose : 0,
      type: '',
      media_url: ''
    },
    methods: {
      display_caption: function(image) {
        return image.type && image.size.length === 2;
      },
      test: function(url, index) {
        // $('#work_remote_attach_avatar_url').val(url);
        $('#work_remote_image_url').val(url);
        this.choose = index;
      }
    }

  });

  </script>
<% end -%>