    <%= javascript_include_tag Ckeditor.cdn_url %>
    <%= simple_form_for [:account, @work.user.user_info, @work] do |f| -%>

  <%= render '/common/error_messages', object: f.object %>
    <div class="form-inputs">
      <div class="form-group">
        <h4><span>作品相關檔案</span></h4>
        <!-- Nav tabs -->
        <ul id="typeSelection" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">上傳聲音或圖片</a>
          </li>
          <li role="presentation">
            <a href="#external" aria-controls="external" role="tab" data-toggle="tab">外部連結</a>
          </li>
          <li role="presentation">
            <a href="#textcontent" aria-controls="textcontent" role="tab" data-toggle="tab">文字類作品</a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" style="padding:0.4em;">
          <div role="tabpanel" class="tab-pane fade in active" id="upload">
            <%= f.file_field :attach_avatars, multiple: true %>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="external">
            <%= f.input_field :attach_url, class: 'form-control string optional' %>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="textcontent">
            <%= f.input_field :attach_content, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }%>
          </div>
        </div>
        <script type="text/javascript">
          $("#typeSelection a").click(function(e){
            e.preventDefault();
            $(this).tab('show');
          });
        </script>
      </div>
      <br/>
      <div class="form-group">
        <h4><span>標題</span><span class="help-block">例如：PHP後台系統設計、商品攝影+修圖、女性服飾網拍修圖</span></h4>
        <%= f.input_field :subject, class: 'form-control string optional', placeholder: '標題' %>
      </div>
      <div class="form-group">
        <h4><span>作品描述</span><span class="help-block">描述製作時間、幾個人做、怎麼從概念到成品等等</span></h4>
        <%= f.input_field :content, as: :text, class: 'form-control', rows: '10', placeholder: '請輸入內容' %>
      </div>
    </div>
    <div class="form-actions">
      <p><%= f.button :submit, '送出', class: 'btm_c_org width50' %> <%= link_to "回列表頁", appraisals_path, class: 'btn btn-link' %></p>
    </div>
    <% end %>
