<div class="ckeditor">
  <% if current_user == @work.user %>
    <%= link_to '編輯', edit_account_user_info_work_path(@work.user, @work), class: 'btn btn-primary' %>
    <%= link_to '刪除', account_user_info_work_path(@work.user, @work), method: :delete, data: { confirm: '確定要刪除嗎？' }, :class => 'btn btn-danger pull-right' %>
  <% end -%>
  <h1><%= @work.subject %></h1>
  <%= work_square(@work) %>

  <%= link_to "", @work.attach_url, id: "anchorExternalLink", target: '_blank' if @work.attach_url.present? %>

  <hr/>
  <% if @work.content.present? %>
    <%= rasf @work.content %>
    <hr />
  <% end -%>
  <h4>留言</h4>
  <div class="tasks" id="incomplete_tasks">
    <%= render partial: 'work_messages/work_message', collection: @work.work_messages %>
  </div>
  <br/>
  <%= form_for @work_message, remote: true do |f| %>
    <div class="form-inputs">
      <div class="form-group">
        <h4><span>新增留言</span><span class="help-block">Shift+Enter鍵換行</span></h4>
        <%= f.hidden_field :work_id, {value: @work.id} %>
        <%= f.text_area :content, class: 'form-control', rows: '2', placeholder: '請輸入內容' %>
      </div>
      <div class="form-actions">
        <p><%= f.submit '送出', class: 'btn btn-primary' %></p>
      </div>
    </div>
  <% end %>
  <script>
    $(".ckeditor .remote-preview").click(function(){
      $("#anchorExternalLink").get(0).click();
    });
    $('#work_message_content').keypress(function(e){
      if(e.shiftKey && e.keyCode == 13){
        } else if (e.keyCode == 13) {
         $(this).closest('form').submit();
       }
    });
  </script>
</div>
<%= javascript_include_tag "works_show" %>
<%= stylesheet_link_tag "works" %>