<div class="ckeditor">

  <h2 class="work-inner-subject"><%= @work.subject %></h2>
  <%= content_tag :p, "建立於 " + date_description(@work.created_at), class: "work-inner-date text-right" %>

  <%= link_to user_info_path(@work.user), class: "work-owner" do %>
    <div class="col-md-3 col-sm-3 col-xs-5">
      <%= tag :img, src: @work.user.avatar_link(size: 64), width: "100%" %>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-7">
      <%= content_tag :p, @work.user.nickname, class: "work-owner-name" %>
      <%= content_tag :p, "建立於 " + date_description(@work.created_at), class: "work-owner-date" %>
    </div>
  <% end -%>
  <%= work_square_all(@work) %>

  <%= link_to "", @work.attach_url, id: "anchorExternalLink", target: '_blank' if @work.attach_url.present? %>

  <%= render 'account/works/work_info', w: @work %>
  <hr/>
  <% if @work.content.present? %>
    <%= rasf @work.content %>
    <hr />
  <% end -%>
  <h4>留言</h4>
  <div class="tasks" id="incomplete_tasks">
    <%= render partial: 'work_messages/work_message', collection: @work.work_messages %>
  </div>
  <br/>
  <%= form_for @work_message, remote: true do |f| %>
    <div class="form-inputs">
      <div class="form-group">
        <h4><span>新增留言</span><span class="help-block">Shift+Enter鍵換行</span></h4>
        <%= f.hidden_field :work_id, {value: @work.id} %>
        <%= f.text_area :content, class: 'form-control', rows: '2', placeholder: '請輸入內容', required: true %>
      </div>
      <div class="form-actions">
        <p><%= f.submit '送出', class: 'btn btn-primary' %></p>
      </div>
    </div>
  <% end %>
  <script>
    $(".ckeditor .remote-preview").click(function(){
      $("#anchorExternalLink").get(0).click();
    });
    $('#work_message_content').keypress(function(e){
      if(e.shiftKey && e.keyCode == 13){
        } else if (e.keyCode == 13 && $(this).val().trim() !== '') {
         $(this).closest('form').submit();
       }
    });
  </script>
</div>
<%= javascript_include_tag "works_show" %>
