<section class="UserDataBox classificationBox">
  <div class="container" style="margin-top:50px;">
    <%= notice_message %>
    <% if has_to_show_welcome %>
      <%= welcome_message(link_to '第一次來到這裡嗎？如果你不知道Conkwe在做什麼，先看看"關於Conkwe"吧！', welcome_index_path) %>
      <% cookies['new_viewer'] = 'false' %>
    <% end %>
  </div>
  <div class="topBanner br_banner_01">
    <h2>作品展示</h2>
  </div>
  <div class="ContentsBox clearfix">
    <div class="WorksList">
      <div class="abox">
        <div class="work_information">
          <div class="left_worktype">
            <div class="choose_type">
              <p id="worktypeButton">成果類別：<span><%= category_page_name(params) %></span></p>
              <div id="worktypeBox" style="display:none">
              <%= render_list :class => "worktypeBox clearfix" do |div|
                                        div << focus_to("全部", request.path_info + "?" + {category_id: 'all', pagekind: params[:pagekind]}.to_param )
                                        div << focus_to("美術設計", request.path_info + "?" + {category_id: 1,pagekind: params[:pagekind]}.to_param)
                                        div << focus_to("工業設計", request.path_info + "?" + {category_id: 2,pagekind: params[:pagekind]}.to_param)
                                        div << focus_to("文字編輯", request.path_info + "?" + {category_id: 3,pagekind: params[:pagekind]}.to_param)
                                        div << focus_to("程式開發", request.path_info + "?" + {category_id: 7,pagekind: params[:pagekind]}.to_param)
                                        div << focus_to("行銷企畫", request.path_info + "?" + {category_id: 8,pagekind: params[:pagekind]}.to_param)
                                        div << focus_to("音樂人",  request.path_info + "?" + {category_id: 9,pagekind: params[:pagekind]}.to_param)
                                        div << focus_to("影像製作", request.path_info + "?" + {category_id: 10,pagekind: params[:pagekind]}.to_param)
                                        div << focus_to("其他", request.path_info + "?" + {category_id: 12,pagekind: params[:pagekind]}.to_param)
                                        end %>
              </div>
            </div>
          </div>
          <%= render_list :class => "works_time" do |li|
            li << focus_to('Good Job！', works_path(category_id: params[:category_id], pagekind: ""))       
            li << focus_to("最新", works_path(category_id: params[:category_id], pagekind: "newest")   ) 
            li << focus_to("關注", works_path(category_id: params[:category_id], pagekind: "favorite") )
        end %>
          <% if current_user %>
            <%= content_tag(:p, link_to('＋ 新增作品或工作成果', new_account_user_info_work_path(current_user)), class: 'addWorks') %>
          <% end %>
          <ul class="designerWorksList clearfix">
            <%  @works.each_with_index do |w, i| %>
              <li>
                <div class="photoBox" id="<%= dom_id(w) %>">
                  <%= link_to user_info_work_path(w.user, w), class: "photogo item-wrap",style: "background-color: #{work_background_color_personal(w, i)}", target: 'conkwe_work_detail' do %>
                    <%= work_square_personal(w) %>
                    <% if get_resolved_url_obj(w.attach_url)[:type] == "youtube" %>
                    <div class="iframemask"></div>
                    <% end %>
                  <% end %>
                  <p><%= w.subject %></p>
                </div>
                <div class="the_tools clearfix" id="work_info_<%= w.id %>">
                  <%= content_tag :p, '',class: 'link' if w.attach_url.present? %>
                  <p class="like">
                    <%= link_to w.cares_count, carers_work_path(w), class: 'like_in' %>
                  </p>
                  <p class="dialog"><a><%= w.work_messages_count %></a></p>
                  <p class="eyes"><a><%= w.hits %></a></p>
                </div>
                <%= link_to user_info_path(w.user), class: 'userID clearfix' do %>
                  <%= tag :img, src: w.user.avatar_link(size: 64), alt: 'my profile', width:"100%" %>
                  <p class="name"><%= w.user.nickname %></p>
                <% end %>
              </li>
            <% end %>
            <%= render 'common/modal'  %>
          </ul>
          <%= paginate @works %>
        </div>
      </div>
    </div>
  </div>

</section>
<%= render :partial => "common/footer" %>

<% content_for :javascripts do %>
  <script>
    $('#worktypeButton').click(function(){
      $('#worktypeBox').toggle();
    })
  </script>
<% end %>

<%= javascript_include_tag "works_list" %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "works" %>
<% end -%>
