<%= form_for appraisal_message, remote: true do |f| %>
<p>
  <% if current_user == appraisal_message.user %>
    <%= link_to "", appraisal_message, method: :delete, class: 'glyphicon glyphicon-remove-circle', data: {confirm: "Are you sure?"}, remote: true %>
  <% end %>
  <% if appraisal_message.user == appraisal_message.appraisal.user %>
  [發文者]: <%= appraisal_message.content %>
  <% else %>
  <%= link_to online_status(appraisal_message.user),account_user_info_path(appraisal_message.user)  %>: <%= appraisal_message.content %>
  <% end %>
</p>
<% end %>