<%= simple_form_for @user_info, :url => { :action => "update_info" }, :method => :patch  do |f| -%>
  <%= render '/common/error_messages', object: f.object %>
  <h4>個人狀態設定</h4>
  <p>設定表達您的意願，我們會列在搜尋結果。
    但希望您也同時具有該項狀態的能力("可以上台簡報" 和"教授一項技能要做的事情"是不同的。)</p>
  <div class="form-inputs">
    <div class="form-group">
      <%= f.label '咨詢' %>
      <p class="help-block">表示您是該工作內容的專家，有空為對方解答相關工作的疑問(但不一定願意接受對方的委託)</p>
      <%= f.input :speak,label: false, as: :button_radio, collection: [['Yes',1] ,['No',0]] %>
    </div>
    <div class="form-group">
      <%= f.label '接案' %>
      <p class="help-block">表示您可以且有意願獨立或合作完成您提供的相關工作內容</p>
      <%= f.input :contract,label: false, as: :button_radio, collection: [['Yes',1] ,['No',0]] %>
    </div>
    <div class="form-group">
      <%= f.label '教學' %>
      <p class="help-block">表示您提供的性質為教學，家教等服務。建議提供您教學的主要目標、教學內容以及希望學生學會的知識內容，教師應透過教學活動的設計達成預期的目標。</p>
      <%= f.input :teach,label: false, as: :button_radio, collection: [['Yes',1] ,['No',0]] %>
    </div>
    <div class="form-group">
      <%= f.label '勞力' %>
      <p class="help-block">表示您有空接受任何需要人力或時間的委託，我們希望業主和作業者雙方都了解：困難的事情需要更多的時間做好，麻煩的事情需要更多的人手做好。</p>
      <%= f.input :labor,label: false, as: :button_radio, collection: [['Yes',1] ,['No',0]] %>
    </div>
      <%=  f.hidden_field :name %>
      <%=  f.hidden_field :category_id %>
      <%=  f.hidden_field :work_area %>
      <%=  f.hidden_field :work_content %>
      <%=  f.hidden_field :typical_work %>
      <%=  f.hidden_field :skill_and_tool %>

  </div>
  <div class="form-actions">
    <p><%= f.button :submit, '送出', class: 'btm_c_org width50' %> <%= link_to "取消修改", :back, class: 'btn btn-link' %></p>
  </div>
<% end %>