    <%= simple_form_for @user_info, :url => { :action => "update_info" }, :method => :patch  do |f| -%>
  <%= render '/common/error_messages', object: f.object %>
  <div class="form-inputs">
    <%=  f.hidden_field :name %>
    <div class="form-group">
      <%= f.label '工作類別' %>
      <%= f.input :category_id,label: false, as: :button_radio, collection: Category.where("id in (?)", [1,2,3,7,8,9,10,11,12]).map { |r| [r.title, r.id] },input_html: {value: @user_info.category_id} %>
      <p class="help-block">您所主要提供的服務類別</p>
    </div>
    <div class="form-group">
      <%= f.label '所在地區' %>
      <%= f.input_field :work_area, class: 'form-control text optional' %>
      <p class="help-block">所在地區(如果需要面談或開會時方便的地點)</p>
    </div>
    <div class="form-group">
      <%= f.label '工作內容' %>
      <%= f.input_field :work_content, class: 'form-control string optional' %>
      <p class="help-block">您提供的主要服務</p>
    </div>
    <div class="form-group">
      <%= f.label '相關經歷與作品集連結' %>
      <%= f.input_field :typical_work, class: 'form-control text optional', placeholder: '相關經歷: \n專案名稱/職務名稱/職務內容... \n\n作品集連結： \nhttps://github.com/xxxx \nhttps://dribbble.com/xxxx....' %>
      <p class="help-block">您提供此服務的過去相關經歷以及作品集連結</p>
    </div>
    <div class="form-group">
      <%= f.label '擅長技能或使用工具' %>
      <%= f.input_field :skill_tool, class: 'form-control text optional' %>
      <p class="help-block">您提供此服務所使用的相關技能或工具，供他人有特殊考量時參考。</p>
    </div>
    <%=  f.hidden_field :teach %>
    <%=  f.hidden_field :speak %>
    <%=  f.hidden_field :labor %>
    <%=  f.hidden_field :contract %>
  </div>
  <div class="form-actions">
    <p><%= f.button :submit, '送出', class: 'btm_c_org width50' %> <%= link_to "取消修改", :back, class: 'btn btn-link' %></p>
  </div>
<% end %>
<% content_for :javascripts do %>
  <script type="text/javascript">
    var textAreas = document.getElementsByTagName('textarea');

    Array.prototype.forEach.call(textAreas, function(elem) {
        elem.placeholder = elem.placeholder.replace(/\\n/g, '\n');
    });
  </script>
<% end -%>