<div class="about-me clearfix" id="about-me">
  <div class="container">
    <div class="row">
      <!-- Profile Pic -->
      <div class='col-sm-4 col-xs-12'>
        <div class="row">
          <div class="my-pic text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-offset="200">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Creative-Tail-People-police-man.svg/128px-Creative-Tail-People-police-man.svg.png" alt="my profile">
          </div>
          <div class="profile wow fadeInUp text-center" data-wow-duration="0.5s" data-wow-offset="200">
            <div class="heading-line"></div>
            <div class="personal-wrapper">
              <span><strong><%= @user_info.speak == 1 ? "諮詢" : "" %> <%= @user_info.contract == 1 ? "接案" : "" %> <%= @user_info.teach == 1 ? "教學" : "" %>  <%= @user_info.labor == 1 ? "勞力" : "" %></strong></span>
              <span><strong><%= @user_info.nickname %></strong></span>
              <span><strong>狀態: </strong><%= user_status(@user_info.user)  %></span>
              <span><strong>工作領域: </strong><%= @user_info.category.try(:title) %></span>
              <span><strong>所在地區: </strong><%= simple_format @user_info.work_area %></span>
              <%= link_to '上一位', account_user_info_path(@user_info.user.prev) %>
              <%= link_to '下一位', account_user_info_path(@user_info.user.next) %>
            </div>
          </div>
        </div>
      </div>
      <div class='col-sm-8 col-xs-12'>
        <div class="row">
          <div class="introduction wow fadeInUp" data-wow-duration="0.5s" data-wow-offset="200">
            <h2 class="h2"><%= @user_info.nickname %></h2>
            <div class="heading-line"></div>
            <p class="introduce">工作內容</p>
            <p class="intro"><%= simple_format @user_info.work_content %></p>
          </div>
          <div class="why-me wow fadeInUp" data-wow-duration="0.5s" data-wow-offset="200">
            <!-- Start Accordion -->
            <div class="accordion">
              <!--               <div class="acc-item">
                <div class="acc-title"><i class="ion-android-navigate"></i>作品</div>
                <div class="acc-content">(待補)<img height="100" src="https://www.shareicon.net/data/128x128/2015/09/02/94531_logo_512x512.png"><img height="100" src="https://d13yacurqjgara.cloudfront.net/assets/dribbble-logo-graph-dnld-a5f51e6e8f6c6bd334b1dc962110bdbf8d19c56d81b767e144e7de7b15689618.png">
                      <img height="100" src="http://www.iconsdb.com/icons/preview/black/youtube-4-xxl.png"></div>
                    </div> -->
              <div class="acc-item">
                <div class="acc-title"><i class="ion-android-navigate"></i>相關經歷與作品連結</div>
                <div class="acc-content-show"><%= rasf @user_info.typical_work %></div>
              </div>
              <div class="acc-item">
                <div class="acc-title"><i class="ion-android-navigate"></i>擅長技能或使用工具</div>
                <div class="acc-content"><%= simple_format @user_info.skill_and_tool %></div>
              </div>
            </div>
            <!-- End Accordion -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag 'account/user_infos' -%>
<% end -%>
<% content_for :javascripts do -%>
  <%= javascript_include_tag "account/user_infos" -%>
<% end -%>