<div class='col-sm-9 col-xs-12'>
  <div class="introduction wow fadeInUp" data-wow-duration="0.5s" data-wow-offset="200">
    <p class="introduce">工作內容</p>
    <p class="intro"><%= simple_format @user_info.work_content %></p>
  </div>
  <div class="why-me wow fadeInUp" data-wow-duration="0.5s" data-wow-offset="200">
    <!-- Start Accordion -->
    <div class="accordion">
      <div class="acc-item">
        <div class="acc-title"><i class="ion-android-navigate"></i>作品</div>
        <div class="acc-content-show">
          <div class="row user-info-work">
            <% if current_user == @user_info.user %>
              <div class="col-md-4 col-sm-6 work-responsive">
                <div onclick="location.href='<%= new_account_user_info_work_path(current_user) %>'" class="work-item">
                  <p class="subject">發佈作品...</p>
                  <div class="overview">
                    <%= render_avatar_file('https://cdn.pixabay.com/photo/2016/04/09/15/06/text-1318197_1280.jpg') %>
                  </div>
                  <p class="info">
                    <i class="glyphicon glyphicon-eye-open"></i><span>???</span>
                    <i class="glyphicon glyphicon-comment"></i><span>??</span>
                    <i class="glyphicon glyphicon-heart"></i><span>???</span>
                  </p>
                </div>
              </div>
            <% end -%>
            <%= render partial: 'account/works/work', collection: @user_info.user.works, as: :w || '沒有資料哦！'  %>
            <%= render 'common/modal'  %>
            <%= javascript_include_tag "works_parse_remote" %>
          </div>
        </div>
      </div>
      <div class="acc-item">
        <div class="acc-title"><i class="ion-android-navigate"></i>相關經歷與作品集連結</div>
        <div class="acc-content-show"><%= rasf @user_info.typical_work %></div>
      </div>
      <div class="acc-item">
        <div class="acc-title"><i class="ion-android-navigate"></i>擅長技能或使用工具</div>
        <div class="acc-content-show"><%= simple_format @user_info.skill_and_tool %></div>
      </div>
    </div>
    <!-- End Accordion -->
  </div>
</div>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "works" %>
<% end -%>