<div id="content-video-audio">
  <h2>In-browser Video Chat is Now a Breeze</h2>
  <h4 class="intro">Here's a demo. Start a video chat between Alice and Bob.</h4>
  <div class="two-column-boxes">
    <div class="column-box">
      <div class="demo-window">
        <div class="demo-view">
          <video id="video-of-bob"></video>
        </div>
        <div class="left">
          <h4>Alice's View</h4>
          <h5>Demo user one</h5>
        </div>
        <button id="alice-video-button" class="right" type="button">video</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag "sip-0.7.7.min" %>
  <script>
      var domain = 'gossimio.onsip.com';

    var aliceURI      = '<%= current_user.id %>.XyVY9Gqhk9ejtezb2vI0HAfDPke53pLu@' + domain;
    var aliceName     = '<%= current_user.id %>';
    
        var bobURI        = '<%= @user.id || 0 %>.XyVY9Gqhk9ejtezb2vI0HAfDPke53pLu@' + domain;
        var bobName       = '<%= @user.id || 0 %>';    
    
  </script>
  <%= javascript_include_tag "sip_talk" %>

<% end %>
