<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-TW">
<head>
  <%= render_page_title_tag %>
  <%= render_page_description_meta_tag %>
  <%= render_page_image_link_tag %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <% if @og.present? %>
    <%= render "common/og_tag" %>
  <% end %>
  
<meta name="MobileOptimized" content="width">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "unique" %>

  <%= stylesheet_link_tag "photoswipe/photoswipe" %>
  <%= stylesheet_link_tag "photoswipe/default-skin/default-skin" %>

</head>

<body>

<!-------- 中間內容從這邊開始 -------->
<section class="style_templet">
    <div class="topBanner" style="background: url(<%= @main_image_url %>) center center no-repeat; background-size: cover;"></div>
    <div class="userBox">
<a class="contact_me" style="background-color:green" id="chat" href="#"></a>
        <div class="photo"><%= tag :img, src: @user_info.user.avatar_link(size: 128), alt: 'my profile' %>
</div>
        <p class="user_name"><%= link_to @user_info.nickname, user_info_path(@user_info.user) %></p>
        <p class="online">狀態：<span class="green"> <%= user_status(@user_info.user)  %></span>&nbsp;&nbsp;|&nbsp;&nbsp;所在地區：<%= @user_info.work_area %></p>
        <ul class="skill_list">
              <%= @user_info.skill_list.present? ? @user_info.skill_list.map { |t| li_link_button(t,t, 'btn-link')  }.join('').html_safe : li_link_button(@user_info.category.try(:title),@user_info.category.try(:title), 'btn-link')  %>
        </ul> 
    </div>

    <div class="ContentsBox clearfix">
            <div class="WorksList">
                    <div class="work_information">
                        <ul class="designerWorksList clearfix">
                            <% @filter_works.each_with_index do |w,i| %>
                                <% v = 0 %>
                                <% if w.attach_avatar.url.present? %>
                                    <li>
                                        <a class="photogo" href="#" style="overflow: hidden;" data-id="<%= i %>">
                                            <%#<div class="thisBox">
                                                <div class="the_tools">
                                                    <p class="like like_in">546</p>
                                                    <p class="dialog">38</p>
                                                    <p class="eyes">459</p>
                                                </div>
                                            </div>%>
                                    <%= work_square_unique(w,i) %>
                                        </a>
                                    </li>
                                <% v = v + 1 %>
                                <% end %>
                            <% end %>
                        </ul>
                    </div>
            </div>
    </div>
</section>
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
    <%= javascript_include_tag 'photoswipe/photoswipe.min' %>
    <%= javascript_include_tag 'photoswipe/photoswipe-ui-default.min' %>
    <script>
    var pswpElement = document.querySelectorAll('.pswp')[0];

// build items array
var items = <%= raw @filter_works.map {|x| {src: x.attach_avatar.url,
        w: x.image_meta["original_width"],
        h: x.image_meta["original_height"]} 
    }.to_json %>


// define options (if needed)

// Initializes and opens PhotoSwipe
$('.photogo').click(function(e){
    var data = $(this).data()

    var options = {
        // optionName: 'option value'
        // for example:
        index: data.id // start at first slide
    };
    var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
    gallery.init();

})
</script>
<%= render :partial => "common/gossim" %>
  <script>
    $('#chat').click(function(){
      Gossim.popup('<%= @user_info.user.id %>', '<%= @user_info.nickname %>')
    })
  </script>
</body>
</html>






