
  <li class="dropdown" id='notify'>
    <%= link_to "#" , :class => "dropdown-toggle", :data => { :toggle => "dropdown" } do %>
    <span class="glyphicon glyphicon-bell"></span>
    <% end %>
    <div class="list-group dropdown-menu" id='notify_result' style="width:400px">
    </div>
  </li>
  <li class="dropdown">
    <% if current_user %>
    <%= link_to "#" , :class => "dropdown-toggle", :data => { :toggle => "dropdown" } do %>
    <%= current_user.name %>
    <% end %>

    <ul class="dropdown-menu">
      <li><%= link_to("個人頁", account_user_info_path(current_user)) %></li>
      <li><%= link_to("正在關注的估價單", account_appraisals_path) %></li>
      <li class="divider"></li>
      <li><%= link_to("修改個人狀態", edit_status_account_user_infos_path) %> </li>
      <li><%= link_to("修改個人頁", edit_info_account_user_infos_path) %> </li>
      <li><%= link_to("設定顯示名稱","/users/edit" ) %></li>
      <li><%= link_to("修改密碼","/users/edit_password" ) %></li>
      <li><%= link_to("登出",destroy_user_session_path, :method => :delete ) %></li>
    </ul>

    <% else %>

    <li><%= link_to( "註冊" ,new_user_registration_path) %></li>
    <li><%= link_to( "登入", new_user_session_path ) %></li>
    <li><%= link_to( "FACEBOOK登入", "/users/auth/facebook" )  %></li>

    <% end %>
  </li>

<% content_for :javascripts do %>
<script>
$('#notify').on('show.bs.dropdown', function () {
  $.ajax({
    type: "GET",
    url: "/activities",
    async: false,
    dataType: "script"
  });
});
</script>
<% end %>