
  <li class="dropdown">
    <% if current_user %>

    <%= link_to "#" , :class => "dropdown-toggle", :data => { :toggle => "dropdown" } do %>
    <%= current_user.name %>
    <% end %>

    <ul class="dropdown-menu">
      <li> <%= link_to("個人估價單", account_appraisals_path) %> </li>
      <%# if current_user.admin? %>

      <li> <%#= link_to("Admin Panel", admin_products_path ) %> </li>

      <%# end %>

      <li class="divider"></li>
      <li><%= link_to("設定","/users/edit" ) %></li>
      <li><%= link_to("修改密碼","/users/edit_password" ) %></li>
      <li><%= link_to("登出",destroy_user_session_path, :method => :delete ) %></li>
    </ul>

    <% else %>

    <li> <%= link_to( "註冊" ,new_user_registration_path) %> </li>
    <li> <%= link_to( "登入", new_user_session_path )  %> </li>
    <li> <%= link_to( "FACEBOOK登入", "/users/auth/facebook" )  %> </li>

    <% end %>
  </li>

<% content_for :javascripts do %>

<% end %>