<!DOCTYPE html>
<html lang="zh-tw" >
<head>
  <%= render_page_title_tag %>
  <%= render_page_description_meta_tag %>
  <%= render_page_image_link_tag %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <% if @og.present? %>
    <%= render "common/og_tag" %>
  <% end %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "common" %>
  <%= stylesheet_link_tag "personal_page" %>

  <%= javascript_include_tag "application" %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= yield :stylesheets %>

  <script>
    // Refers to: https://stackoverflow.com/a/14610265/2238770
    function resizeCrop( src, width, height ){
        var crop = width == 0 || height == 0;
        // not resize
        if(src.naturalWidth <= width && height == 0) {
            width  = src.naturalWidth;
            height = src.naturalHeight;
        }
        // resize
        if( src.naturalWidth > width && height == 0){
            height = src.naturalHeight * (width / src.naturalWidth);
        }

        // check scale
        var xscale = width  / src.naturalWidth;
        var yscale = height / src.naturalHeight;
        var scale  = crop ? Math.min(xscale, yscale) : Math.max(xscale, yscale);
        // create empty canvas
        var canvas = document.createElement("canvas");                  
        canvas.width  = width ? width   : Math.round(src.naturalWidth  * scale);
        canvas.height = height ? height : Math.round(src.naturalHeight * scale);
        canvas.getContext("2d").scale(scale,scale);
        // crop it top center
        canvas.getContext("2d").drawImage(src, ((src.naturalWidth * scale) - canvas.width) * -.5 , ((src.naturalHeight * scale) - canvas.height) * -.5 );
        return canvas.toDataURL();
    }

    function onImageLoad(o){
      // Off the event
      o.onload = null;
      if(o.naturalWidth > o.naturalHeight){
        o.style.cssText += "width: auto; height:100%;";
      }
    }
  </script>

</head>
<%= render_body_tag %>
<%= render :partial => "common/google_analytics" %>
<div class="container">
  <%= notice_message %>
  <% if has_to_show_welcome %>
    <%= welcome_message(link_to '第一次來到這裡嗎？如果你不知道Conkwe在做什麼，先看看"關於Conkwe"吧！', welcome_index_path) %>
    <% cookies['new_viewer'] = 'false' %>
  <% end %>

</div>
  <%= content_for?(:content) ? yield(:content) : yield %>

<%= render :partial => "common/gossim" %>
<%= render :partial => "common/facebook_js" %>
<%= yield :javascripts %>
</body>
</html>
