<!DOCTYPE html>
<html lang="zh-tw" >
<head>
  <%= render_page_title_tag %>
  <%= render_page_description_meta_tag %>
  <%= render_page_image_link_tag %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <% if @og.present? %>
    <%= render "common/og_tag" %>
  <% end %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "common" %>
  <%= stylesheet_link_tag "personal_page" %>

  <%= javascript_include_tag "application" %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= yield :stylesheets %>

</head>
<%= render_body_tag %>
<%= render :partial => "common/google_analytics" %>
<%= render :partial => "common/menu" %>
<div class="container">
  <%= notice_message %>
  <% if has_to_show_welcome %>
    <%= welcome_message(link_to '第一次來到這裡嗎？如果你不知道Conkwe在做什麼，先看看"關於Conkwe"吧！', welcome_index_path) %>
    <% cookies['new_viewer'] = 'false' %>
  <% end %>

</div>
  <%= content_for?(:content) ? yield(:content) : yield %>
<%= render :partial => "common/footer" %>

<%= render :partial => "common/gossim" %>
<%= render :partial => "common/facebook_js" %>
<%= yield :javascripts %>
</body>
</html>
