<!DOCTYPE html>
<html lang="zh-tw" >
<head>
  <%= render_page_title_tag %>
  <%= render_page_description_meta_tag %>
  <%= render_page_image_link_tag %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <% if @og.present? %>
    <%= render "common/og_tag" %>
  <% end %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "common" %>
  <%= stylesheet_link_tag "personal_page" %>

  <%= javascript_include_tag "application" %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= yield :stylesheets %>

  <script type="text/javascript">
  function detect_is_safari(){
    return /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || safari.pushNotification); 
  }

  function toFixedPercent(num, decimals){
    decimals = decimals || 1;
    var shiftRight = Math.pow(10,(decimals + 2));
    return Math.floor( num * shiftRight ) / Math.pow(10, decimals);
  }

    function imgFlexboxFixed(img){
      var parent = img.parentElement;
      var w = parent.offsetWidth;
      var h = parent.offsetHeight;
      var nw = img.naturalWidth;
      var nh = img.naturalHeight;
      if(nw > nh){
        var resizeW = h / nh * nw;
        if(resizeW > w){
          img.style.cssText += "top:0px;left:-" + toFixedPercent((resizeW - w) / 2 / w, 1) + "%;";
        }else{
          img.style.cssText += "top:0px;left:" + toFixedPercent((w - resizeW) / 2 / w, 1) + "%;";
        }
      }else{
        var resizeH = w / nw * nh;
        if(resizeH > h){
          img.style.cssText += "left:0px;top:-" + toFixedPercent((resizeH - h) / 2 / h, 1) + "%;";
        }else{
          img.style.cssText += "left:0px;top:" + toFixedPercent((h - resizeH) / 2 / h, 1) + "%;";
        }
      }
    }

    function onImageLoad(o){
      // Off the event
      o.onload = null;
      if(o.naturalWidth > o.naturalHeight){
        o.style.cssText += "width: auto; height:100%;";
      }

      if(detect_is_safari()){
        imgFlexboxFixed(o);
        window.addEventListener('resize', (function(img){
          return function(){ imgFlexboxFixed(img); };
        })(o));
      }
    }
    
  </script>

</head>
<%= render_body_tag %>
<%= render :partial => "common/google_analytics" %>
<%= render :partial => "common/menu" %>
<div class="container">
  <%= notice_message %>
  <% if has_to_show_welcome %>
    <%= welcome_message(link_to '第一次來到這裡嗎？如果你不知道Conkwe在做什麼，先看看"關於Conkwe"吧！', welcome_index_path) %>
    <% cookies['new_viewer'] = 'false' %>
  <% end %>

</div>
  <%= content_for?(:content) ? yield(:content) : yield %>

<%= render :partial => "common/gossim" %>
<%= render :partial => "common/facebook_js" %>
<%= yield :javascripts %>
</body>
</html>
