<% content_for :content do %>
  <div class="about-me clearfix" id="about-me">
    <div class="container">
      <div class="row">
        <div class='col-sm-3 col-xs-12'>
          <%= link_to user_info_path(@user_info.user), class: "about-me-link" do %>
          <div class="my-pic text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-offset="200">
            <%= tag :img, src: @user_info.user.avatar_link(size: 128), alt: 'my profile' %>
            <br/>
            <br/>
            <p><strong><%= @user_info.nickname %></strong></p>
          </div>
          <% end -%>

          <div class="profile wow fadeInUp text-center" data-wow-duration="0.5s" data-wow-offset="200">
            <div class="personal-wrapper">
              <span>
                <div class="btn-group">
                  <%= @user_info.speak == 1 ? tag_link_button('諮詢','speak') : "" %>
                  <%= @user_info.contract == 1 ? tag_link_button('接案','contract') : "" %>
                  <%= @user_info.teach == 1 ? tag_link_button('教學','teach') : "" %>
                  <%= @user_info.labor == 1 ? tag_link_button('勞力','labor') : "" %>
                </div>
              </span>
              <span><strong>狀態: </strong><%= user_status(@user_info.user)  %></span>
              <span><%= link_to '私訊給他', '#', class: 'btn btn-success', id: 'chat'  %></span>
              <span><%= link_to '語音通話', '#', class: 'btn btn-primary', id: 'phone'  %></span>
              <span><strong>工作項目: </strong><%= @user_info.skill_list.present? ? @user_info.skill_list.map { |t| tag_link_button(t,t, 'btn-link')  }.join('').html_safe : tag_link_button(@user_info.category.try(:title),@user_info.category.try(:title), 'btn-link')  %>
              </span>
              <span><strong>所在地區: </strong><%= simple_format @user_info.work_area %></span>
              <%= link_to '上一位', user_info_path(@user_info.user.prev) %>
              <%= link_to '下一位', user_info_path(@user_info.user.next) %>
            </div>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
  </div>
<% end -%>
<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag 'account/user_infos' -%>
<% end -%>
<% content_for :javascripts do -%>
  <script>
    $('#chat').click(function(){
              Gossim.popup('<%= @user_info.user.id %>', '<%= @user_info.nickname %>')
            })
    $('#phone').click(function(){
      ConkweHangout.open('<%= @user_info.user.id %>', '<%= @user_info.nickname %>', '<%= @user_info.user.avatar_link(size: 128) %>');
    });
  </script>
<% end -%>
<%= render template: "layouts/application" %>