<% content_for :content do %>
  <div class="about-me clearfix" id="about-me">
    <div class="container">
      <div class="row">
        <div class='col-sm-3 col-xs-12'>
          <div class="my-pic text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-offset="200">
            <%= tag :img, src: @user_info.user.avatar_link(:circle_128), alt: 'my profile' %>
          </div>
          <div class="profile wow fadeInUp text-center" data-wow-duration="0.5s" data-wow-offset="200">
            <div class="personal-wrapper">
              <span><strong><%= @user_info.nickname %></strong></span>
              <span>
                <div class="btn-group" data-toggle="buttons">
                  <%= @user_info.speak == 1 ? '<label class="btn btn-default">諮詢</label>'.html_safe : "" %>
                  <%= @user_info.contract == 1 ? '<label class="btn btn-default">接案</label>'.html_safe : "" %>
                  <%= @user_info.teach == 1 ? '<label class="btn btn-default">教學</label>'.html_safe : "" %>
                  <%= @user_info.labor == 1 ? '<label class="btn btn-default">勞力</label>'.html_safe : "" %>
                </div>
              </span>
              <span><strong>狀態: </strong><%= user_status(@user_info.user)  %></span>
              <span><%= link_to '私訊給他', '#', class: 'btn btn-success', id: 'chat'  %></span>
              <span><strong>工作領域: </strong><%= @user_info.category.try(:title) %></span>
              <span><strong>所在地區: </strong><%= simple_format @user_info.work_area %></span>
              <%= link_to '上一位', user_info_path(@user_info.user.prev) %>
              <%= link_to '下一位', user_info_path(@user_info.user.next) %>
            </div>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
  </div>
<% end -%>
<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag 'account/user_infos' -%>
<% end -%>
<% content_for :javascripts do -%>
  <script>
    $('#chat').click(function(){
              Gossim.popup('<%= @user_info.user.id %>', '<%= @user_info.nickname %>')
            })
  </script>
<% end -%>
<%= render template: "layouts/application" %>